*::before,
*::after {
  margin: 0;
  padding: 0;
}

:root {
  /* Primary Colors */
  --color-soft-blue: hsl(215, 51%, 70%);
  --color-cyan: hsl(178, 100%, 50%);

  /* Neutral Colors */
  --color-very-dark-blue-main-bg: hsl(221, 51%, 7%);
  --color-very-dark-blue-card-bg: hsl(215, 51%, 14%);
  --color-very-dark-blue-line: hsl(215, 32%, 27%);
  --color-white: hsl(0, 0%, 100%);
}

body {
  font-family: "Outfit", sans-serif;
  background-color: var(--color-very-dark-blue-main-bg);
  width: 100vw;
  font-size: 1.125rem;
  overflow: hidden;
}

.hero {
  background-color: var();
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 140px 0;
}

.main-part {
  display: flex;
  flex-direction: column;
  width: 17%;
  min-width: 375px;

  background-color: var(--color-very-dark-blue-card-bg);
  border-radius: 8px;
  align-items: flex-start;
  box-shadow: 0px 8px 59px 39px rgba(12, 21, 40, 0.75);
}

.hero .image {
  display: flex;
  justify-content: center;
  overflow: hidden;
  position: relative;
  margin-top: 20px;
  border-radius: 8px;
}

.hero .image img {
  width: 86%;
  border-radius: 8px;
}

.hero .image img.view-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  width: 86%;
  transition: opacity 0.3s;
  background-color: var(--color-cyan);
  object-fit: scale-down;
}

.hero .image img.equilibrium {
  display: block;
}

.hero .image:hover img.view-icon {
  opacity: 0.6;
  cursor: pointer;
}

.main-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 86%;
  margin: 0 auto;
}

.main-text h1 {
  color: var(--color-white);
  font-weight: 600;
  font-size: 1.125rem;
  letter-spacing: 0.7px;
}

.main-text h1:hover {
  cursor: pointer;
  color: var(--color-cyan);
}

.main-text p {
  color: var(--color-soft-blue);
  opacity: 0.9;
  font-size: 1rem;
  margin: 0;
  line-height: 24px;
  letter-spacing: 0.3px;
  font-weight: 300;
}

.days {
  display: flex;
  width: 50%;
  justify-content: flex-end;
}

.days span {
  color: var(--color-soft-blue);
  opacity: 0.9;
  font-weight: 300;
}

.ethereum {
  display: flex;
  width: 50%;
  align-items: center;
}

.days img,
.ethereum img {
  padding-right: 7px;
}

.ethereum span {
  color: var(--color-cyan);
  font-weight: 500;
}

.details {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 24px 0;
  font-size: 1rem;
  border-bottom: 1px solid rgba(47, 65, 91, 0.7);
}

.avatar {
  display: flex;
  align-items: center;
  padding: 16px 0 30px 0;
}

.avatar img {
  width: 30px;
  border: 1px solid white;
  border-radius: 50%;
}

.avatar p {
  padding-left: 12px;
  font-size: 1rem;
}

em {
  font-style: normal;
  color: var(--color-white);
}

em:hover {
  cursor: pointer;
  color: var(--color-cyan);
  font-weight: 400;
}
