*::before,
*::after {
  margin: 0;
  padding: 0;
}

:root {
  /* Primary Colors */
  --color-soft-blue: hsl(215, 51%, 70%);
  --color-cyan: hsl(178, 100%, 50%);

  /* Neutral Colors */
  --color-very-dark-blue-main-bg: hsl(217, 54%, 11%);
  --color-very-dark-blue-card-bg: hsl(216, 50%, 16%);
  --color-very-dark-blue-line: hsl(215, 32%, 27%);
  --color-white: hsl(0, 0%, 100%);
}

body {
  font-family: "Outfit", sans-serif;
  background-color: var(--color-very-dark-blue-main-bg);
  height: 100vh;
  width: 100vw;
  font-size: 1.125rem;
}

.hero {
  background-color: var();
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 70%;

  margin: 200px 0;
  border: 2px solid red;
}

.main-part {
  display: flex;
  flex-direction: column;
  width: 25%;
  background-color: var(--color-very-dark-blue-card-bg);
  border: 2px solid red;
  align-items: flex-start;
}

.hero .image {
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.hero .image img {
  width: 85%;
  /* padding-top: 20px; */
  border-radius: 8px;
}

.main-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 2px solid red;
  width: 85%;
  margin: 0 auto;
}

.main-text h1 {
  color: var(--color-white);
  font-weight: 600;
  font-size: 1.125rem;
}

.main-text p {
  color: var(--color-soft-blue);
  opacity: 0.6;
  font-size: 1.125rem;
  margin: 0;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
